[submodule "autokarpa"]
	path = src/core/autokarpa
	url = https://github.com/h4mn/autokarpa.git
[submodule "youtube"]
	path = src/core/youtube
	url = https://github.com/h4mn/sky-youtube.git
	shallow = true
[submodule "src/core/youtube"]
	path = src/core/youtube
	url = https://github.com/h4mn/sky-youtube.git
